body{
display: flex;

font-size: 30px;
height: 100vh;
color: #fff;
background-image: linear-gradient(125deg,#082b4e,
#02fc87,#0672ee,#9205fd,#f83606);
background-size: 400%;
animation: bgmove 20s infinite;
}
@keyframes bgmove{
    0%{
        background-position: 0% 50%;
    }
     50%{
        background-position: 100% 50%;
    }
     100%{
        background-position: 0% 50%;
    }
}
ul {

    list-style-type:none;
	margin:0;
	padding:0;
     position: fixed;
    top: 0;
    width: 100%;

}
 
li a {
    display: block;
    color: #e5e5f6;
    padding: 8px 16px;
    text-decoration: none;
}

#yuanshen{
    
     position:absolute;
    left:100px;
    top:150px;

     text-align:center;
    color:red;
}

a
{
    display:block;
    width:60px;
}
li{
    float: left;
    display: inline;
}
/* 鼠标移动到选项上修改背景颜色 */
li a:hover {
    background-color: #555;
    color: white;
}
